/* BASE */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 1rem 0 2rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body, .btn {
  font-family: "roboto", sans-serif;
}

#logo, .menu__title {
  font-family: "shrikhand", "Roboto", sans-serif;
}

/*LAYOUT*/
header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.308);
  position: relative;
}

.header {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__back {
  position: absolute;
  left: 25px;
}
.header img {
  height: 30px;
  display: flex;
}

.footer {
  background-color: #353535;
  padding: 1rem 0 0.5rem 0;
  color: white;
}
.footer__logo {
  font-size: 1.25rem;
}
.footer__list {
  margin-top: 1rem;
}
.footer__text {
  margin-bottom: 0.5rem;
}
.footer__text:hover {
  text-decoration: underline;
}
.footer__icon {
  margin-right: 0.5rem;
}

/*UTILS*/
/* COMPONENT */
.btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 3rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.32);
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 2rem auto;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  transition: 0.8s;
}
.btn__explore {
  padding: 0 1rem;
  font-weight: 450;
}
.btn__order {
  padding: 0 3rem;
  font-weight: 550;
}

.btn:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
  box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.274);
  transition: 0.8s;
}

.like {
  left: 93%;
  bottom: 60px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 2rem;
}
.like__full {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition-property: transform;
  transition-duration: 500ms;
  transform: scale(0);
}
.like:hover .like__empty {
  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 300ms;
  transform: scale(0);
}
.like:active .like__empty {
  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 300ms;
  transform: scale(0);
}
.like:focus .like__empty {
  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 300ms;
  transform: scale(0);
}
.like:hover .like__full {
  transform: scale(1);
}
.like:active .like__full {
  transform: scale(1);
}
.like:focus .like__full {
  transform: scale(1);
}

.menu__like {
  left: 0;
  bottom: 22px;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 1rem;
}

/* PAGES */
/* LOADING SCREEN */
.loader {
  background-color: rgba(255, 255, 255, 0.356);
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 3s forwards;
}
.loader__square {
  width: 5rem;
  height: 5rem;
  background-color: aqua;
  animation: spine 2s cubic-bezier(0, 0, 1, 1) forwards;
}

@keyframes fadeout {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes spine {
  0% {
    transform: scale(0);
    transition: 0.1s;
  }
  15% {
    transform: scale(1);
    transition: 0.1s;
  }
  50% {
    transform: rotateY(470deg);
  }
  100% {
    visibility: hidden;
  }
}
/* LOCALISATION */
.local {
  background-color: #f2f2f2;
  padding: 16px;
  display: flex;
  justify-content: center;
}
.local input {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  width: 150px;
}
.local input[type=search]::-webkit-search-cancel-button {
  display: none;
}

/* EXPLORE */
.explore {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.explore__title {
  margin: 0;
}
.explore__text {
  margin-bottom: 1rem;
}

/* RESTAURANT FUNCTION */
.function {
  margin: 0;
}
.function__picks {
  display: flex;
  padding: 0;
  margin: 0;
}
.function__pick {
  background-color: #f2f2f2;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.315);
  padding: 1.5rem;
  flex: 1;
  margin: 0 0 0 2rem;
  border-radius: 1rem;
  align-items: center;
}
.function__pick:hover {
  background-color: rgba(146, 86, 220, 0.2);
  transition: 0.5s;
}
.function__pick:hover > i {
  color: #8f45e9;
}
.function__pick:first-child {
  margin-left: -0.2rem;
}
.function__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  margin: auto;
  margin-right: -3rem;
  margin-left: 1rem;
  position: relative;
  color: white;
  z-index: 100;
}
.function__text {
  margin-left: 0.5rem;
}
.function__icon {
  color: rgba(20, 20, 20, 0.562);
}

/* CARDS */
.restaurants {
  background-color: #f2f2f2;
  padding: 0.5rem 0 3rem 0;
  margin-top: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.32);
  height: 270px;
}
.card__img {
  width: 100%;
  height: 12rem;
  border-radius: 1rem 1rem 0rem 0rem;
  object-fit: cover;
}
.card__title {
  margin-bottom: 0.5rem;
}
.card__content {
  margin-right: 1rem;
}
.card__text {
  padding: 0.5rem 0 0.5rem 1rem;
}
.card__badge {
  position: absolute;
  background-color: rgb(147, 225, 206);
  color: rgb(3, 145, 33);
  padding: 0.5rem;
  margin: 1rem -6rem;
  border-radius: 0.25rem;
}
.card article a {
  display: block;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.274);
  transition: 0.8s;
}

.menu {
  border-radius: 2rem 2rem 0 0;
  position: relative;
  margin-top: -2rem;
  padding-bottom: 5rem;
  background-color: #f2f2f2;
}
.menu__header {
  height: 500px;
}
.menu__header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu__title {
  padding: 0 0 2rem 0;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  align-items: center;
}

.meal {
  display: flex;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  animation: listAppear 1s;
}
.meal__column {
  overflow: hidden;
  padding: 0 1rem;
}
.meal__title h2 {
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.meal__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}
.meal__description, .meal__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.meal__price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  padding-left: 0.5rem;
}
.meal__text {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.meal__check {
  padding: 1rem;
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  transition: 0.8s;
}
.meal .fa-check {
  background-color: #f2f2f2;
  padding: 0.25rem;
  border-radius: 2rem;
  transition: 0.5s;
  color: #99E2D0;
}

/* MEAL CHECK ANIMATION */
.meal:hover > .meal__check {
  margin-right: -1rem;
  transition: 0.6s;
}

.meal:hover .fa-check {
  animation: rotate-check 500ms forwards;
}

.meal:active > .meal__check {
  margin-right: -1rem;
  transition: 0.6s;
}

.meal:active .fa-check {
  animation: rotate-check 500ms forwards;
}

.meal:focus > .meal__check {
  margin-right: -1rem;
  transition: 0.6s;
}

.meal:focus .fa-check {
  animation: rotate-check 500ms forwards;
}

@keyframes rotate-check {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* MEAL CARDS APPEAR */
.meal-1 {
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-2 {
  animation-delay: 150ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-3 {
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-4 {
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-5 {
  animation-delay: 550ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-6 {
  animation-delay: 650ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-7 {
  animation-delay: 750ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-8 {
  animation-delay: 850ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-9 {
  animation-delay: 950ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meal-10 {
  animation-delay: 1050ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes listAppear {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
