.restaurants {
    background-color: #f2f2f2;
    padding: 0.5rem 0 3rem 0;
    margin-top: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    
}

    .card {
        background-color: #ffffff;
        border-radius: 1rem ;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 32%);
    }
        .card__img {
            width: 100%;
            height: 12rem;
            border-radius: 1rem 1rem 0rem 0rem;
            object-fit: cover;
        }

        .card h3 {
            margin: 0;
        }

        .card__title {
            margin-bottom: 0.5rem;
        }

        .card__content {
            display: flex;
            justify-content: space-between;
        }   

        .card__text {
            padding: 0.5rem 0 0.5rem 1rem;
            
        }

        .card__badge {
            position: absolute;
            background-color: rgb(147, 225, 206) ;
            color: rgb(29, 101, 88);
            padding: 0.5rem;
            margin: 1rem -6rem;

        }
        
        