header {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.308);
    z-index: 1000;
    position: relative;
}

    header a img {
        height: 30px;
        margin: auto;
        padding: 16px ;
        display: flex;
        
    }