header {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.308);
    z-index: 1000;
    position: relative;

}

    .header img {
        height: 30px;
        
    }

    .header__img {
        height: 30px;
        display: flex;
        margin: auto;
       
    }

    .header{
        padding: 16px ;
        display: flex;
        justify-content: space-between;
        
    }

    .back__btn {
        display: flex;  
        align-items: center;
    }

    