header {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.308);
    position: relative;

}

    .header{
        padding: 16px ;
        display: flex;
        justify-content: space-between;
        
        &__back {
            display: flex;  
            align-items: center;
        }

        & img {
            height: 30px;
            
        }
    
        &__img {
            height: 30px;
            display: flex;
            margin: auto;
           
        }
    }

    

    