
.button {
    padding: 2rem 0;
    border: none;
}
    
.command__btn {
    @include button;
    margin: auto;
    display:flex;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1rem;
}

