.restaurants {
    background-color: #f2f2f2;
    padding: 0.5rem 0 3rem 0;
    margin-top: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    
}


.card {
    background-color: #ffffff;
    border-radius: 1rem ;
    @include shadow();


        &__img {
            width: 100%;
            height: 12rem;
            border-radius: 1rem 1rem 0rem 0rem;
            object-fit: cover;
        }

        &__title {
            margin-bottom: 0.5rem;
        }
        
        &__content {
            display: flex;
            justify-content: space-between;
            margin-right: 1rem;
        }   

        &__text {
            padding: 0.5rem 0 0.5rem 1rem;
        }
        
        &__badge {
            position: absolute;
            background-color: rgb(147, 225, 206) ;
            color: rgb(29, 101, 88);
            padding: 0.5rem;
            margin: 1rem -6rem;
        }
    }
        


        

    

        

        




    
            