.function {
    margin: 0;


    &__picks{
        display: flex;
        padding: 0;
        margin: 0;  
    }
    
    &__pick {
        background-color: #f2f2f2;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.315);
        padding: 1.5rem;
        flex: 1;
        margin: 0 0 0 2rem;
        border-radius: 1rem;
        align-items: center;
    }

    &__pick:hover {
        background-color: #9256dc33;
        transition: 0.5s;
        
    }

    &__pick:hover > i {
        color: #8f45e9;
    }
    &__pick:first-child {
        margin-left: -0.2rem;
        
    }

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #9356dc;
        width: 1.5rem;    
        height: 1.5rem; 
        border-radius: 1rem;
        margin: auto;
        margin-right: -3rem;
        margin-left: 1rem;
        position: relative;
        color: white;
        z-index: 100;
     }

     &__text {
        margin-left: 0.5rem;
    }
    
    &__icon {
        color: rgba(20, 20, 20, 0.562);
    }

    
}  



    
    

    

    

     

     