@mixin shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 32%);
     
 }

 @mixin btn {
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border-radius: 3rem;
    @include shadow();
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin: 2rem auto;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    transition: 0.8s;
 }

 @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 @mixin flex-between {
    display: flex;
    justify-content: space-between;
 }

 